<!DOCTYPE html>
<html ng-app="FruitsAndVeg">
    <head>
        <title>Fruit and Veggies</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
        <script src="js/fruits_and_veggies_test.js"></script>
        <script src="js/app.js"></script>

    </head>

    <body ng-controller="fruitOrVeg">
        <div class="container text-center">
            <h1>Fruit and Veggies</h1>
            <div class="row">
                <div class="col-sm-4">
                  <h1>Fruits</h1>
                  <ul>
                    <li ng-class="{'text-danger':danger.text}" ng-repeat="item in guessedFruits track by $index | orderBy:'id'">{{ item }}</li>
                  </ul>
                </div>
                <div class="col-sm-4">
                  <h1>To Sort: </h1>
                  <ul>
                    <li ng-repeat="item in combined track by $index"><button ng-click="addFruit()"><-</button> {{ item }}<button ng-click="addVeg()">-></button></li>
                  </ul>
                </div>
                <div class="col-sm-4">
                <h1>Vegetables</h1>
                  <ul>
                    <li  ng-class="{'text-danger':danger.text}" ng-repeat="item in guessedVeg track by $index | orderBy:'id'">{{ item }}</li>
                  </ul>
                </div>
            </div>
        </div>
    </body>
</html>
